@import "compass/css3";

.first_page{
        font-family: "Libre Baskerville", sans-serif;
        background-color: #E2E2E2;
}  
a:link {
  color: #CC0000;
  text-decoration: none;
}
a:visited { 
  color: #CC0000;
  text-decoration: none;
}
a:hover {
  color: #CC0000;
}
a:active {
  color: #CC0000;
  text-decoration: none;
}

.border{
        background-color: #CCCCCC;
        height: 75px;
        width:auto;
        color: #CC0000;
        padding: 5px;
        text-align: left;
        font-size: 14px;
}      
.navlink{
        text-align: right;
}
.space{
       height: 55px;
       width: auto;
}

.main{
        font-size: 18px;
        font-weight: bold;
        color: #898989;
        text-align: left;
        margin: auto;
        padding: 1px;
        float: left;

}

.name{
       font-size:40px;
       font-weight:bold;
       color: #898989;
       text-align:left;
}

.quote{
       font-weight:lighter;
       color: #898989;
}

.sidebar{
     color: #898989;
     margin-top: 125px;
     margin-left: 20px;
     padding: 20px;
     float: left;
     font-size: 14px;
}

a.sidebarlink:link{
  color:#AFAFAF;
  text-decoration: none;
}

a.sidebarlink:visited{
  color:#AFAFAF;
  text-decoration: none;
}

a.sidebarlink:hover{
  color:#AFAFAF;
  text-decoration: none;
}

a.sidebarlink:active{
  color:#AFAFAF;
  text-decoration: none;
}

.buffer {
  min-height:510px;
}

.alt-text{
  color:#CC0000;
}

.storyTitle{
       font-size:30px;
       font-weight:bold;
       color: #898989;
       text-align:left;
       margin-right:auto;
}
.story{
   font-size: 16px;
   color: #898989;
   text-align: left;
   margin-left:3%;
   margin-right:auto;
   margin-bottom:auto;
   float: left;        
}

.bibliography{
  color: #898989;
  font-size: 10px;
  margin-left:1%; 
  margin-right:auto;
  margin-bottom:auto;
}

a.bibliography:link{
  color:#AFAFAF;
  text-decoration: none;
}


.parent{
  display:flex;
  height: 300px;
}

.child{
  width: 300px;
  height: 300px;
  margin: auto;
}

.leftimage{
        display: block;
        width: 100px;
        height: 100px;
        float: left;
        padding-right: 20px;
        padding-left: 20px;
}
.rightimage{
        display: block;
        width: 100px;
        height: 100px;
        float: left;
        padding-right: 20px;
        padding-left: 20px;
}
.mainimage{
        display: block;
        width: 400px;
        height: 400px;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
}
.mainimageleft{
        display: block;
        width: 300px;
        height: 300px;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
}
.mainimageright{
        display: block;
        width: 300px;
        height: 300px;
        float: right;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
}
.theme{
  color: #898989;
  text-align: left;
  vertical-align:top;
  margin-left:1%;
  margin-right:auto;
  margin-bottom:auto;
}


.flex-container {
    list-style:none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: left;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}
 
 .flex-item {
    width: 250px;
    height: 250px;
    padding: 20px;
   /* flex: 1 100%; */
    text-align: left;
}

.theme-header{
  text-align:left;
  background:#E2E2E2;
  width:250px;
  font-size: 30px;
   /* flex: 1 100%; */
}

.theme-definition{
  text-align:left;
  background:#E2E2E2;
  vertical-align: top;
   /* flex: 1 100%; */
}
 
