.first_page{
        font-family: "Libre Baskerville", sans-serif;
        background-color: #E2E2E2;
        margin:0%;
}  
a:link {
  color: #CC0000;
  text-decoration: none;
}
a:visited { 
  color: #CC0000;
  text-decoration: none;
}
a:hover {
  color: #CC0000;
}
a:active {
  color: #CC0000;
  text-decoration: none;
}

.border{
        background-color: #CCCCCC;
        height: 75px;
        margin:0%;
        color: #CC0000;
        padding: 5px;
        text-align: left;
        font-size: 14px;
}      
.navlink{
        text-align: right;
}
.space{
       height: 55px;
}

.main{
        font-size: 18px;
        font-weight: bold;
        color: #898989;
        text-align: left;
        margin-top: 0%;
        padding: 0px;
        margin-left:0%;
        float: left;

}

.name{
       font-size:40px;
       font-weight:bold;
       color: #898989;
       text-align:left;
}

.quote{
       font-weight:light;
       color: #898989;
}

.sidebar{
     color: #898989;
     margin-top: 125px;
     margin-left: 20px;
     padding: 20px;
     float: left;
     font-size: 14px;
}

a.sidebarlink:link{
  color:#AFAFAF;
  text-decoration: none;
}

a.sidebarlink:visited{
  color:#AFAFAF;
  text-decoration: none;
}

a.sidebarlink:hover{
  color:#AFAFAF;
  text-decoration: none;
}

a.sidebarlink:active{
  color:#AFAFAF;
  text-decoration: none;
}

.buffer {
  min-height:510px;
  min-width: 1100px;
}

.alt-text{
  color:#CC0000;
}

.storyTitle{
       font-size:30px;
       font-weight:bold;
       color: #898989;
       text-align:left;
       margin-left:0%;
       margin-right:auto;
}
.story{
   font-size: 16px;
   color: #898989;
   text-align: left;
   margin-left:3%;
   margin-right:auto;
   margin-bottom:auto;
   float: left;        
}

.bibliography{
  color: #898989;
  font-size: 10px;
  margin-left:1%; 
  margin-right:auto;
  margin-bottom:auto;
}

a.bibliography:link{
  color:#AFAFAF;
  text-decoration: none;
}

.leftimage{
        display: block;
        width: 100px;
        height: 100px;
        float: left;
        padding-right: 20px;
        padding-left: 20px;
}
.rightimage{
        display: block;
        width: 100px;
        height: 100px;
        float: left;
        padding-right: 20px;
        padding-left: 20px;
}
.mainimage{
        display: block;
        width: 400px;
        height: 400px;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
}
.mainimageleft{
        display: block;
        width: 300px;
        height: 300px;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
}
.mainimageright{
        display: block;
        width: 300px;
        height: 300px;
        float: right;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
}
.theme{
  float:left;
  color: #898989;
  text-align: left;
  margin-left:3%;
  margin-right:auto;
  margin-bottom:auto;
}
