.first_page{
        font-family: "Crimson Text", serif;
        background-color: #E2E2E2;
        margin:0%;
}  
a:link {
  color: #676C7F;
  text-decoration: none;
}
a:visited { 
  color: #676C7F;
  text-decoration: none;
}
a:hover {
  color: #676C7F;
}
a:active {
  color: #676C7F;
  text-decoration: none;
}

.border{
        background-color: #CCCCCC;
        height: 75px;
        margin:0%;
        color: #CD0000;
        padding: 5px;
        text-align: right;
        font-size: 14px;
}      

.space{
       height: 55px;
}

.main{
        font-size: 18px;
        font-weight: bold;
        color: #898989;
        text-align: right;
        margin-top: 0%;
        padding: 0px;
        margin-left:0%;
        float: left;

}

.name{
       font-size:40px;
       font-weight:bold;
       color: #898989;
       text-align:right;
}

.quote{
       font-weight:light;
       color: #898989;
}

.sidebar{
     color: #898989;
     margin-top: 125px;
     margin-left: 20px;
     padding: 20px;
     float: left;
     font-size: 14px;
}

a.sidebarlink:link{
  color:#AFAFAF;
  text-decoration: none;
}

a.sidebarlink:visited{
  color:#AFAFAF;
  text-decoration: none;
}

a.sidebarlink:hover{
  color:#AFAFAF;
  text-decoration: none;
}

a.sidebarlink:active{
  color:#AFAFAF;
  text-decoration: none;
}

.buffer {
  min-height:510px;
  min-width: 1100px;
}

.alt-text{
  color:#CD0000;
}

.storyTitle{
       font-size:30px;
       font-weight:bold;
       color: #898989;
       text-align:left;
       margin-left:1%;
       margin-right:auto;
}
.story{
   font-size: 16px;
   color: #898989;
   text-align: left;
   margin-left:3%;
   margin-right:auto;
   margin-bottom:auto;
   float: left;        
}

.bibliography{
  color: #898989;
  font-size: 10px;
  margin-left:1%; 
  margin-right:auto;
  margin-bottom:auto;
}

a.bibliography:link{
  color:#AFAFAF;
  text-decoration: none;
}

.leftimage{
        display: block;
        width: 100px;
        height: 100px;
        float: left;
}
.rightimage{
        display: block;
        width: 100px;
        height: 100px;
        float: right;
}
.health{
  float:left;
  color: #898989;
  text-align: left;
  margin-left:3%;
  margin-right:auto;
  margin-bottom:auto;
}
.security{
  float:left;
  color: #898989;
  text-align: left;
  margin-left:3%;
  margin-right:auto;
  margin-bottom:auto;
}
.sustainability{
  float:left;
  color: #898989;
  text-align: left;
  margin-left:3%;
  margin-right:auto;
  margin-bottom:auto;
}
.other{
  float:left;
  color: #898989;
  text-align: left;
  margin-left:3%;
  margin-right:auto;
  margin-bottom:auto;
}
